[Desktop Entry]
Name=Google Chrome
Exec=/usr/bin/google-chrome-stable --no-sandbox --disable-fre --no-default-browser-check --no-first-run --password-store=basic %U
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
Icon=google-chrome
